<ion-header>
  <ion-toolbar style="--background: linear-gradient(to bottom, #5C3317, #A52A2A);">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Elemento accesible para todos los usuarios -->
    <ion-item (click)="goToRanchos()">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>Ranchos</ion-label>
    </ion-item>

    <!-- Elemento visible solo para administradores -->
    <div *ngIf="isAdmin">
      <ion-item (click)="goToAdmin()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
