/* Establece el color de fondo general para el contenido */
body, ion-content {
  background: linear-gradient(to bottom, #5C3317, #A52A2A); /* Gradiente marrón chocolate a tierra */
}

/* Estilo para el título principal */
h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white; /* Color blanco para contraste */
  margin-top: 20px;
}

/* Estilo para la descripción */
p {
  text-align: justify;
  font-size: 16px;
  color: #000000; /* Texto blanco */
  padding: 0 15px;
  margin-bottom: 20px;
}

/* Estilos para el ion-grid */
ion-grid {
  padding: 0 10px;
}

/* Asegurar que las tarjetas no sean demasiado grandes */
ion-card {
  color: white; /* Texto blanco */
  margin: 10px 0;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo para las imágenes dentro de las tarjetas */
ion-img {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Estilo para los botones flotantes */
ion-fab-button {
  --background: #0e26ff; /* Color marrón */
  --color: white; /* Color blanco para el ícono */
  --width: 50px;
  --height: 50px;
  --border-radius: 50%; /* Botón redondeado */
}

/* Estilo para el ion-fab-list */
ion-fab-list {
  align-items: flex-end;
  margin-bottom: 20px;
  margin-top: 20px; /* Agrega margen superior para separar el ion-fab-list */
}

ion-fab-list ion-fab-button {
  margin-bottom: 10px;
}

/* Estilos para los botones de acción */
ion-button {
  --background: #5C3317; /* Fondo color marrón */
  --color: white; /* Texto blanco */
  margin: 5px;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 50px; /* Bordes redondeados */
}

ion-button ion-icon {
  font-size: 18px;
}

/* Estilo para los botones dentro de la sección admin */
ion-button[color="success"] {
  margin-right: 10px;
}

/* Estilo para el título en el header */
ion-title {
  background: linear-gradient(to bottom, #5C3317, #A52A2A); /* Gradiente marrón chocolate a Tierra */
  color: white; /* Texto blanco para buen contraste */
  padding: 10px; /* Espaciado alrededor del título */
  border-radius: 8px; /* Bordes redondeados */
}

/* Estilo para el toolbar del header */
ion-toolbar {
  background: linear-gradient(to bottom, #5C3317, #A52A2A); /* Gradiente marrón chocolate a tierra */
}

/* Estilo para el ion-col dentro del grid */
ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para el ion-header */
ion-header {
  background: linear-gradient(to bottom, #5C3317, #A52A2A); /* Gradiente marrón chocolate a Tierra */
}
