<ion-header>
  <ion-toolbar style="--background: linear-gradient(to bottom, #5C3317, #A52A2A);">
    <ion-buttons slot="start">
      <ion-back-button color="light" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container" #chatContainer>
    <div *ngFor="let message of messages" [ngClass]="getMessageColor(message)" class="chat-bubble">
      <div class="chat-bubble" *ngIf="message.userRole === 'admin'">Admin</div>

      <p>{{ message.text }}</p>
      <small>{{ message.timestamp.toDate() | date: 'short' }}</small>
    </div>
  </div>
  <div class="chat-input-container">
    <ion-item>
      <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="sendMessage()">Enviar</ion-button>
  </div>
</ion-content>