<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let message of messages" class="chat-bubble">
    <!-- Si el mensaje es de admin, mostramos "Admin" antes del texto -->
    <div *ngIf="message.userRole === 'admin'" class="admin-tag">Admin</div>
    <!-- Si el mensaje es de usuario, mostramos "Usuario" antes del texto -->
    <div *ngIf="message.userRole === 'user'" class="user-tag">Usuario</div>

    <p>{{ message.text }}</p>
    <small>{{ message.timestamp.toDate() | date: 'short' }}</small>
  </div>

  <ion-item>
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje"></ion-input>
  </ion-item>
  <ion-button (click)="sendMessage()">Enviar</ion-button>
</ion-content>
