<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <span>Inicia sesión con tu correo electrónico o número registrado</span>

  <form [formGroup]="validationFormUser" (ngSubmit)="LoginUser(validationFormUser.value)">
    
    <!-- Campo de correo con label flotante -->
    <div class="floating-label">
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input 
          type="text" 
          name="email" 
          required 
          formControlName="email"
          placeholder="Correo electrónico"
        ></ion-input>
      </ion-item>
    </div>
    
    <!-- Mensaje de error para el campo 'email' -->
    <div *ngIf="validationFormUser.get('email')?.invalid && (validationFormUser.get('email')?.dirty || validationFormUser.get('email')?.touched)">
      <ng-container *ngFor="let validation of validationUserMessage.email">
        <div class="error_message" *ngIf="validationFormUser.get('email')?.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <span>Coloca tu contraseña</span>
    
    <!-- Campo de contraseña con label flotante -->
    <div class="floating-label">
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input 
          type="password" 
          name="password" 
          formControlName="password" 
          placeholder="**************"
        ></ion-input>
      </ion-item>
    </div>

    <!-- Mensaje de error para el campo 'password' -->
    <div *ngIf="validationFormUser.get('password')?.invalid && (validationFormUser.get('password')?.dirty || validationFormUser.get('password')?.touched)">
      <ng-container *ngFor="let validation of validationUserMessage.password">
        <div class="error_message" *ngIf="validationFormUser.get('password')?.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <a [routerLink]="['/forgotpassword']">Olvidaste tu contraseña</a>
    <ion-button type="submit" [disabled]="!validationFormUser.valid">Iniciar sesión</ion-button>

    <span>O inicia sesión con</span>
    <ion-button>Facebook</ion-button>
    <ion-button>Google</ion-button>

    <span>¿No tienes cuenta? Crea una en</span>
    <a [routerLink]="['/singup']">Registrarse</a>

    <span>¿No recuerdas el correo electrónico?<a>Inicia sesión con tu teléfono registrado</a></span>
  </form>
</ion-content>
