<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Incio de sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Incio de sesion</ion-title>
    </ion-toolbar>
  </ion-header>
  <span>Inicia sesion con tu correo y contraseña</span>
  <ion-item>
  <ion-label>Correo</ion-label>
  <ion-input type="text" name="email" required></ion-input>
  </ion-item>
  <ion-item>
  <ion-label>Contraseña</ion-label>
  <ion-input type="password" name="password" placeholder="**************"></ion-input>
  </ion-item>
  <ion-button>¿Olvidaste la contraseña?</ion-button>
  <ion-button>Inciar sesion</ion-button>
  <span>O inicia sesion con</span>
  <ion-button>Facebook</ion-button>
  <ion-button>Google</ion-button>
  <span>No tienes cuenta crea una</span>
  <ion-button>Registrate</ion-button>


</ion-content>
