/* Fondo de ola */
.wave-background {
  background: linear-gradient(to bottom, #5C3317, #A52A2A); /* Marrón chocolate a Tierra */
  height: 250px;
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30%;
  position: relative;
  z-index: -1; /* Asegurar que permanezca detrás de otros elementos */
}

.logo {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
}

/* Contenedor del formulario */
.form-container {
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background:transparent; /* Siena */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out;
}

/* Texto centrado */
.centered-text {
  color: #FFFFFF;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* Estilos para los ion-item */
ion-item {
  --background: transparent;
  --color: #FFFFFF; /* Mostaza suave */
  border-bottom: 1px solid #DAA520;
  margin-bottom: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  transition: transform 0.3s ease;
}

ion-item:hover {
  transform: scale(1.02);
}

/* Etiquetas */
ion-label {
  font-size: 1.5rem;
  color: #000000; /* Verde oliva */
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 40px;
}


/* Campos de entrada */
ion-input {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #000;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
}

/* Mensajes de error */
.error_message {
  color: #B22222; /* Rojo ladrillo */
  font-size: 0.8rem;
  animation: shake 0.5s ease-in-out;
}

/* Botón de inicio de sesión */
ion-button {
  --background: #DAA520; /* Mostaza suave */
  --color: #0D0D0D;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 24px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

ion-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Enlaces */
a {
  color: #0e42d1; /* Mostaza suave */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0e42d1; /* Siena */
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
