<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-container">
    <ion-card>
      <ion-card-content>
        <div class="profile-header">
          <div class="avatar-container">
            <!-- Centered profile image -->
            <ion-avatar class="profile-avatar">
              <img [src]="profilePicture" alt="Foto de perfil">
            </ion-avatar>

            <!-- Button to change profile picture -->
            <ion-button fill="clear" class="avatar-button" (click)="changeProfilePicture()">
              <ion-icon name="camera-outline"></ion-icon>
            </ion-button>
          </div>

          <!-- Profile information -->
          <div class="profile-info">
            <h2 class="profile-name">{{profileName}} {{profileSecondName}}</h2>
            <p class="profile-tel">{{profilePhone}}</p>
            <p class="profile-email">{{profileEmail}}</p>
          </div>
        </div>
        <h1>actualizar informacion</h1>
        <ion-button (click)="openModalPassword()">
          correo electronico
        </ion-button>
        <ion-button (click)="openModalEmail()">
          contraseña
        </ion-button>
      </ion-card-content>
    </ion-card>

    

    <!-- Logout Button -->
    <ion-button expand="full" color="danger" (click)="logout()">Cerrar sesión</ion-button>
  </div>
</ion-content>
