<ion-header>
  <ion-toolbar style="--background: linear-gradient(to bottom, #5C3317, #A52A2A);">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Contenedor General -->
  <div class="profile-container">
    <!-- Foto de Perfil -->
    <div class="profile-header">
      <div class="avatar-container">
        <ion-avatar class="profile-avatar">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>

      <!-- Información del Perfil -->
      <div class="profile-info">
        <h2 class="profile-name">{{profileName}} {{profileSecondName}}</h2>
      </div>
    </div>

    <!-- Opciones del Perfil -->
    <div class="profile-list">
      <!-- Opción 1 -->
      <div class="profile-item" (click)="openModalEmail()">
        <ion-icon name="mail-outline"></ion-icon>
        <span>Actualizar Correo Electrónico</span>
        <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
      </div>
      <!-- Opción 2 -->
      <div class="profile-item" (click)="openModalPassword()">
        <ion-icon name="key-outline"></ion-icon>
        <span>Restablecer Contraseña</span>
        <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
      </div>
      <!-- Opción 3 -->
      <div class="profile-item" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Cerrar Sesión</span>
        <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
