<ion-header>
  <ion-toolbar style="--background: linear-gradient(to bottom, #5C3317, #A52A2A);">
    <ion-title>Ranchos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <!-- Encabezado personalizado dentro del contenido -->
  <h1>Bienvenido, {{ userName }}</h1>

  <div *ngIf="isAdmin">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div class="rancho-list">
    <ion-card
      *ngFor="let rancho of ranchos"
      class="rancho-card"
      (click)="goToRanchoDetail(rancho.nombre, rancho.descripcion, rancho.psg)"
    >
      <img
        [src]="rancho.imagenUrl"
        alt="{{ rancho.nombre }}"
        class="rancho-image"
      />
      <ion-card-header>
        <ion-card-title>{{ rancho.nombre }}</ion-card-title>
        <ion-card-title>{{ rancho.psg }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
