/* Ajustar el espacio debajo del encabezado */
ion-content {
  --padding-top: 10px; /* Ajusta el valor según la altura del header */
  display: block;
  background-color: #f9f9f9;
}

/* Ajuste adicional de la lista */
.rancho-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 16px 16px;
}

/* Header principal */
ion-title {
  background: linear-gradient(to bottom, #5c3317, #a52a2a); /* Marrón chocolate a Tierra */
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

/* FAB (Botón flotante de acción) */
ion-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100; /* Asegura que esté al frente */
}

/* Tarjetas individuales */
.rancho-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.rancho-card:hover {
  transform: scale(1.03);
}

/* Imagen en la tarjeta */
.rancho-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 16px;
}

/* Encabezado de la tarjeta */
ion-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

ion-card-title:nth-of-type(2) {
  font-size: 14px;
  font-weight: normal;
  color: #777777;
}
