<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ranchos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rancherias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="rancho-list">
    <ion-card *ngFor="let rancho of ranchos" class="rancho-card" (click)="goToRanchoDetail(rancho.nombre)">
      <img [src]="rancho.imagenUrl" alt="{{ rancho.nombre }}" class="rancho-image" />
      <ion-card-header>
        <ion-card-title>{{ rancho.nombre }}</ion-card-title>
        <ion-card-title>{{rancho.psg}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  
</ion-content>
