

<div class="wave-top"></div>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" style="color: black;">
          <ion-icon slot="icon-only" name="arrow-back" style="color: black;"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      <ion-title class="titulo"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="forgot">
    <img src="assets/forgot.jpeg" class="logo" alt="Logo">
<h1>Ingresa a tu correo para recuperar la contraseña</h1>
  <form (ngSubmit)="ResetPasswordUser()">
    <ion-item lines="full" floating-label>
      <ion-label position="floating"></ion-label>
      <ion-input [(ngModel)]="email" name="email" placeholder="Email" type="email" required></ion-input>
    </ion-item>
    <ion-button type="submit">Continuar</ion-button>
  </form>
</div>
<div class="wave-bottom"></div>
</ion-content>
