<ion-header>
  <ion-toolbar>
    <ion-title>Precio Becerras</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>*Todos los becerros o becerras deberán tener factura, título de fierro de herrar y upp vigentes.</p>
  <p>*Becerros números 2, 10 pesos menos por Kg.</p>
  <p>*Becerros corrientes a criterio se reciben.</p>
  <p>*Becerros con algún defecto que no sea grave se paga precio de consumo nacional o 20 pesos menos de la lista.</p>

  <!-- Tabla de becerras -->
  <ion-grid class="styled-table">
    <!-- Encabezados de la tabla -->
    <ion-row>
      <ion-col><strong>Peso en Kg</strong></ion-col>
      <ion-col><strong>Precio</strong></ion-col>
      <ion-col><strong>#2</strong></ion-col>
      <ion-col><strong>CN</strong></ion-col>
      <ion-col><strong>Acciones</strong></ion-col>
    </ion-row>

    <!-- Filas dinámicas -->
    <ion-row *ngFor="let item of data; let i = index; trackBy: trackByIndex">
      <ion-col size="3">
        <ion-input [(ngModel)]="item.peso" placeholder="Peso" (ngModelChange)="saveRow(i)"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-input [(ngModel)]="item.precio" placeholder="Precio" (ngModelChange)="saveRow(i)"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-input [(ngModel)]="item.numero2" placeholder="Número 2" (ngModelChange)="saveRow(i)"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-input [(ngModel)]="item.cn" placeholder="CN" (ngModelChange)="saveRow(i)"></ion-input>
      </ion-col>

      <ion-col>
        <ion-button color="danger" (click)="removeRow(i)">
          <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botón para agregar nuevas filas -->
  <ion-button class="add-row-btn" expand="block" (click)="addRow()">
    <ion-icon slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>
</ion-content>
